.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
}

.nav li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', 'wght@200';
}

li a:not(.Active):hover {
    background-color: #111;
}

.Active {
    background-color: gray;
}

.Teachers, .Events {
    font-family: 'Poppins', 'wght@200';
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Text {
    font-family: 'Poppins', 'wght@200';
    text-align: center;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

#marisaInfo, #allisonInfo, #mocLeInfo, #SCRAMInfo {
    opacity: 0;
    transition: all .5s ease;
}

#marisaInfo.On, #allisonInfo.On, #mocLeInfo.On, #SCRAMInfo.On {
    opacity: 1;
}

Body {
    color: #B7C0A4; 
}

html {
    background-color: #173841;
}

.Link {
    color: #677E70;
    text-decoration: none;

    box-shadow: inset 0 0 0 0 #677E70;
    transition: color .1s ease-in-out, box-shadow .15s ease-in-out;
}

.Link:hover {
    box-shadow: inset 100px 0 0 0 #677E70;
    color: #c9b2c0;
}

.SlideshowImage {
    height: 40rem;
    position: relative;
}

.SlideshowLeftArrow {
    position: absolute;
    bottom: 45%;
    left: 3%;
    color:#173841;
}

.SlideshowRightArrow {
    position: absolute;
    bottom: 45%;
    left: 90%;
    color:#173841;
}

.SlideshowContainer {
    position: relative;
    display: inline-block;
}